.u-section-1 .u-sheet-1 {
  min-height: 618px;
}

.u-section-1 .u-image-1 {
  width: 595px;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 0 646px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 10px 0 60px 646px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 446px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}