.u-section-1 .u-sheet-1 {
  min-height: 2927px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 136px;
  margin: 9px auto 0;
}

.u-section-1 .u-products-1 {
  margin-top: 47px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1254px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-1 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: normal;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-2 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  width: 132px;
  font-weight: normal;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-3 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-4 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-5 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-6 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-products-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1028px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-7 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 0 7px 0 16px;
}

.u-section-1 .u-text-14 {
  font-size: 1.875rem;
  font-weight: normal;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-8 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 0 7px 0 16px;
}

.u-section-1 .u-text-16 {
  font-size: 1.875rem;
  width: 132px;
  font-weight: normal;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-9 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-18 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 0 7px 0 16px;
}

.u-section-1 .u-text-18 {
  font-size: 1.875rem;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-10 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-20 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 0 7px 0 16px;
}

.u-section-1 .u-text-20 {
  font-size: 1.875rem;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-11 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-22 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 0 7px 0 16px;
}

.u-section-1 .u-text-22 {
  font-size: 1.875rem;
  width: 132px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 0;
}

.u-section-1 .u-image-13 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-group-12 {
  width: 273px;
  min-height: 287px;
  background-size: auto;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-24 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 0 7px 0 16px;
}

.u-section-1 .u-text-24 {
  font-size: 1.875rem;
  width: 132px;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-products-1 {
    height: auto;
    margin-top: 48px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1028px;
  }

  .u-section-1 .u-group-1 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 20px 15px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 28px;
    margin-left: 23px;
  }

  .u-section-1 .u-group-2 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 20px 15px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 28px;
    margin-left: 23px;
  }

  .u-section-1 .u-group-3 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 20px 15px;
  }

  .u-section-1 .u-text-5 {
    width: 156px;
  }

  .u-section-1 .u-group-4 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 20px 15px;
  }

  .u-section-1 .u-text-7 {
    width: 156px;
  }

  .u-section-1 .u-group-5 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 20px 15px;
  }

  .u-section-1 .u-text-9 {
    width: 156px;
  }

  .u-section-1 .u-group-6 {
    width: 213px;
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding: 20px 15px;
  }

  .u-section-1 .u-text-11 {
    width: 156px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 848px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 1263px;
  }

  .u-section-1 .u-products-1 {
    margin-top: -1206px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: 156px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-group-2 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-3 {
    width: 156px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 37px;
  }

  .u-section-1 .u-group-3 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-1 .u-group-4 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-1 .u-group-5 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-1 .u-group-6 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-1 .u-products-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1461px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2920px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 129px;
    margin-top: 5025px;
  }

  .u-section-1 .u-products-1 {
    margin-top: -4961px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 129px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 62px;
    margin-left: 153px;
  }

  .u-section-1 .u-group-2 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 129px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 62px;
    margin-left: 153px;
  }

  .u-section-1 .u-group-3 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-4 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-5 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-6 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2872px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 81px;
    margin-top: 4502px;
  }

  .u-section-1 .u-products-1 {
    margin-top: -4403px;
  }

  .u-section-1 .u-group-1 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 45px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 34px;
    margin-left: 69px;
  }

  .u-section-1 .u-group-2 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 45px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 34px;
    margin-left: 69px;
  }

  .u-section-1 .u-group-3 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-group-4 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-group-5 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-1 .u-group-6 {
    width: 275px;
    margin-top: -53px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before,
.u-section-1 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before,
.u-section-1 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-10,
.u-section-1 .u-image-10:before,
.u-section-1 .u-image-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-10.u-image-10.u-image-10:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-10.u-image-10.u-image-10.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before,
.u-section-1 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-8.u-image-8.u-image-8:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-8.u-image-8.u-image-8.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before,
.u-section-1 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-9.u-image-9.u-image-9:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-9.u-image-9.u-image-9.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-11,
.u-section-1 .u-image-11:before,
.u-section-1 .u-image-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-11.u-image-11.u-image-11:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-11.u-image-11.u-image-11.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-12,
.u-section-1 .u-image-12:before,
.u-section-1 .u-image-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-12.u-image-12.u-image-12:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-12.u-image-12.u-image-12.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-13,
.u-section-1 .u-image-13:before,
.u-section-1 .u-image-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-13.u-image-13.u-image-13:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-13.u-image-13.u-image-13.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}